
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

header {
    background-color: brown;
    font-size: 2em;
}

img {
    border: 1px solid #ddd;
    padding: 5px;
    width: 450px;
}

#Home {
    background-color: blue;
}

#About {
    background-color: aqua;
}

#Products {
    background-color: coral;
}

#Contacts {
    background-color: darkgreen;
}

footer {
    background-color: darkmagenta;
}